{% extends "base.html" %}

{% block app_content %}
    <script type="text/javascript" src="../static/tetris.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/tetris.css">

    <div class="row">
        <div class="col-md-3">
            <br>
            <br>
            <p>To control figures use ➡ and ⬅ on your keyboard.</p>
            <p>To rotate a figure use  ⬆.</p>
            <p>To speed up the falling use ⬇.</p>
            <p>Good luck!</p>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <div class="score">score: <span id="result">0</span></div>
            <div id="stack">
                {% for y in range(20) %}
                    <div data-y="{{ y }}" class="line">
                        {% for x in range(10) %}
                            <div data-x="{{ x }}" class="brick"></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <br>
            {% if request.path == "/play" %}
                <button type="button" class="btn btn-default btn-lg" onclick='window.location.reload()'>
                    Restart
                </button>
            {% endif %}
        </div>

        <div class="col-md-3 col-md-offset-2">
            {% include '_leaders.html' %}
        </div>
    </div>

    <script>
        // tell the embed parent frame the height of the content
        if (window.parent && window.parent.parent){
            window.parent.parent.postMessage(["resultsFrame", {
                height: document.body.getBoundingClientRect().height,
                slug: "kFxja"
            }], "*")
        }
    </script>
{% endblock %}